*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("port.jpeg");
    background-size: cover;
}
.personal{
    padding: 20px;
}
li{
    padding: 10px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 20px;
}
li span{
    color: rgb(134, 6, 6);
}
.wrapper img{
    height: 30%;
    width: 30%;
    margin-left: 60%;
    margin-top: -22%;
    border-radius: 20px;   
}
.objectives{
    margin-top: -15%;
    padding: 20px;
}
.objectives p{
    margin-left: 30px;
    font-size: 20px;
}
.certificate{
    margin-top: 10px;
    padding: 20px;
}
.certificate p{
    font-size: 20px;
}
.certificate p a{
    text-decoration: none;
    color: red;
}
.certificate button:hover{
    color: blue;
}
.certificate button{
    font-size: 25px;
    border-radius: 20px;
}

@media screen and (max-width:600px)
{
    body{
        background-image: url("background.jpg");
        
    }
    .personal{
        padding: 10px;
    }
    li{
        padding: 5px;
        margin-left: 60px;
        font-weight: bold;
        font-size: 15px;
    }
    li span{
        color: rgb(240, 237, 237);
    }
    .wrapper img{
        height: 30%;
        width: 30%;
        margin-left: 60%;
        margin-top: -5%;
        border-radius: 20px;   
    }
    .objectives{
        padding: 10px;
        margin-top: -7%;
    }
    .objectives p{
        margin-left: 35px;
        font-size: 15px;
    }
    .certificate{
        margin-top: 10px;
        padding: 10px;
    }
    .certificate p{
        font-size: 20px;
    }
    .certificate p a{
        text-decoration: none;
        color: red;
    }
    .certificate button:hover{
        color: blue;
    }
    .certificate button{
        font-size: 25px;
        border-radius: 20px;
    }
    .certificate button:hover{
        background-color: aqua;
    }
}    